    button{
        display: block;
        width: 200px;
        height: 60px;
        margin-top: 15px;
        margin-left: 10px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 4px gray;
        cursor: pointer;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    button:hover{
        background-color: rgb(240, 240, 240);
    }
    #sideBar{
        width: 230px;
        height: 100%;
        background-color: rgb(218, 218, 218);
        position: fixed;
        top: 0;
        left: 0;
    }
